<footer class="footer" id="footer">
    <div class="container">
        <div class="row" style="padding: 10px">
            <div class="col-md-4">
                <img src="../img/logo.png" class="img-thumbnail">
            </div>
            <div class="col-md-4">
                <p>Контакты</p>
                +38095-123-213-12
            </div>
            <div class="col-md-4">
                <div class="text-right">
                    <a href="https://vk.com/club152789462" target="_blank"><img src="img/vk.png" alt="vk"></a>

                </div>
            </div>
        </div>
    </div>
</footer>
