<footer class="footer" id="footer">
    <div class="container">
        <div class="row" style="padding: 10px">
            <div class=" col-md-4">
                <a class="hidden-lg-down" href="index.html">
                    <img src="img/footer_logo.png">
                </a>
            </div>
            <div class="col-md-4 col-6">
                <h5>Курсы</h5>
                <ul class="list-footer">
                    <li>Для малышей</li>
                    <li>Для школьников</li>
                    <li>Для студентов</li>
                    <li>Для взрослых</li>
                </ul>
            </div>
            <div class="col-md-4 col-6 text-right">
                <h5>Контакты</h5>
                <div>
                    <a href="tel:+380992582001">+380 (99) 258-20-01</a>
                </div>
                <div>
                <a href="tel:+380713331791">+380 (71) 333-17-91</a>
                </div>
                <div>
                    <a href="mailto:perfect.english.school@yandex.ru">perfect.english.school@yandex.ru</a>
                </div>
                <div>
                <a href="https://vk.com/club152789462" target="_blank"><img src="img/vk.png" alt="vk"></a>
                </div>

            </div>
        </div>
    </div>
</footer>
