<nav class="navbar navbar-expand-md navbar-dark bg-primary" id="header">
    <div class="container">
        <!--<span class="navbar-brand mb-0">Perfect English</span>-->
        <a class="navbar-brand" href="index.html">
            <img src="img/header_logo.png" alt="Perfect English">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link main-nav" href="index.html">Главная</a>
                </li>
                <li class="nav-item course-nav">
                    <a class="nav-link" href="#">Курсы</a>
                </li>
                <li class="nav-item gallery-nav">
                    <a class="nav-link" href="#">Галерея</a>
                </li>
                <li class="nav-item contact-nav">
                    <a class="nav-link" href="contact.html">Контакты</a>
                </li>
                <li class="nav-item about-nav">
                    <a class="nav-link" href="#">О нас</a>
                </li>
            </ul>
            <span class="navbar-text">
                +380 (99) 258-20-01
                <br>
                +380 (71) 333-17-91
            </span>
        </div>
    </div>
</nav>
