body {
    min-width: 570px;
}
.verticalOffset20 {
    margin-top: 20px;
}



.nav-item {
    font-size: 16px;
}

.parallax-window {
    min-height: 400px;
    background: transparent;
}

section .container, section li {
    margin: 2rem auto;
}


/* footer */
.list-footer {
    padding: 0;
}
.list-footer li{
    list-style: none;
}
